
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
 p{
    color: #333;
    text-align: center;
    font-size: 40px;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="Product"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
a{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-right: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1920px;
    margin: 0 auto;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column: 1;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"]
 {

    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"],
button[type="delete"] {
    width: 100%;
    margin-top: 10px;    
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#delete{
    width: 90%;
    margin-top: 10px;    
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button[type="submit"],
button[type = "show"] :hover {
    background-color: #45a049;
}

a {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}
.links{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: 90%;
}
.mid{
    grid-column: 2/4;
    display: grid;
    width: 100%;

}
.rechts{
    grid-column: 1;
    grid-row: 1;
    display: grid;
    width: 100%;

}
.rechts-search{
    grid-column: 1;
    display: grid;
    width: 50%;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    background-color: #f8f8f8;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.search{
    width: 30%;
    
}
